* {
    padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
  background-image: url(images/background.jpeg);
font-family: "Roboto", sans-serif;
margin: 20px;
height: 100vh;
}

#header {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

 img {
    /* border-width: 80px; */
    border-radius: 50%;
    margin:0 auto 20px;
    width: 280px;
    border-radius: 50%;
    margin-top: 20px;
  }

  p h2{
    margin: 20px;
    font-size: 30px;
    margin-top: 20px;
  }

  .size {
    font-size: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }


  ul,
ol {
  margin-left: 40px;
  line-height: 1.5em;
  list-style: none;
  font-size: 25px;
  padding-bottom: 15px;
 
}



h2 {
    color: #017bfe;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 3px solid #017bfe;
  }
   
    

  .fontsize {
    font-size: 20px;
  }